<h1>New Roster</h1>

<h2><%= form_with(model: @roster, local: true) do |form| %>
  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :roster_date %>
    <%= form.date_field :roster_date %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.collection_select :company_id, Company.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %></h2>

<%= link_to 'Back', rosters_path %>
