- if !current_user
  %h1 Login
  = form_with model: User.new, url: user_session_path do |form|
    .form-group
      = form.label :email
      = form.email_field :email, class: "form-control"
    .form-group
      = form.label :password
      = form.password_field :password, class: "form-control"
    .form-group
      = form.submit "Login", class: "btn btn-primary"
- else
  %h1
    %strong Dashboard
  %h1 Hello, #{current_user.name.upcase}
  %h2 You are a #{current_user.role} at #{current_user.company.name}
  %h3 To create rosters and shifts please login to our admin page #{link_to "admin portal", "/admin"}
  %h4= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
